    <body>
        <div id="wrapper">
            <!-- navbar start -->
            <!--/ navbar end -->

            <!-- page header start -->
            <section class="page-header">
                <div class="overlay">
                    <div class="container">
                        <h2 class="page-title pull-left">About Us</h2>
                        <ol class="breadcrumb pull-right">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">About Us</li>
                        </ol>
                    </div>
                </div>
            </section>
            <!--/ page header end -->

            <!-- page-container start -->
            <section class="page-container about-us-page">
                <div class="container">
                    <div Class="h2-c-ifo row" id="about-freelancer">
                        <div class="freelancer-images col-sm-12 col-lg-6">
                            <div class="provide_images">
                                <img alt="" src="images/service_p.jpg" class="imagese">
                            </div>
                        </div>
                    <div class="company-info h2-c-ifo col-sm-12 col-lg-6">
                        <h6>About Our ST Reddiar printers</h6>
                        <h5 class="about-company-title">We provide Qualty service <br> <span class="heighlight-color">Since
                                1886</span> with proud!!</h5>
                    
                        <div class="creative-text">
                            <p>With its establishment in 1886, S T Reddiar Printers has emerged as a leading entity in the field of offset printing
                                in
                                Ernakulam. Located on Veekshanam Road, the company stands out as a prominent player, renowned for its exceptional
                                services and quality output in the printing industry.</p>
                            <p>This well-known establishment acts as a one-stop destination servicing customers both local
                                and from
                                other parts of Ernakulam. Over the course of its journey, this business has established a
                                firm foothold in it's industry.</p>
                            <p>
                                The belief that customer satisfaction is as important as
                                their products and services, have helped this establishment garner a vast base of customers, which continues to grow
                                by
                                the day.
                            </p>
                            {{!-- <div class="author-info">
                                <figure class="image img-circle"><img alt="" src="images/author-thumb-2.jpg" class="img-circle"></figure>
                                <h4>R. Suresh</h4>
                                <div class="designation">Chief Executive</div>
                            </div>
                            <div class="signature">
                                <img alt="" src="images/signature.png">
                            </div> --}}
                    
                        </div>
                    </div><!-- / company-info -->
                    </div><!-- / company-info -->
                </div><!-- / company-info -->

                <div class="our-history">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h2>Overview</h2>
                                    <p>Established in the year 1886, S T Reddiar Printers in Veekshanam Road, Ernakulam is a top player in the category Offset
                                    Printers For Wedding Card in
                                    the Ernakulam. This well-known establishment acts as a one-stop destination servicing customers both local and from
                                    other parts of Ernakulam.
                                    Over the course of its journey, this business has established a firm foothold in it's industry. The belief that customer
                                    satisfaction is as important as
                                    their products and services, have helped this establishment garner a vast base of customers, which continues to grow by
                                    the day. This business
                                    employs individuals that are dedicated towards their respective roles and put in a lot of effort to achieve the common
                                    vision and larger goals of the
                                    company. In the near future, this business aims to expand its line of products and services and cater to a larger client
                                    base. In Ernakulam, this
                                    establishment occupies a prominent location in Veekshanam Road. It is an effortless task in commuting to this
                                    establishment as there are various
                                    modes of transport readily available. It is at, Near MG Road metro station, which makes it easy for first-time visitors in
                                    locating this establishment. It is
                                    known to provide top service in the following categories: Printing Press,
                                    Offset Printers, News paper printers, Wedding Card Printers, Packaging Services.We offer printing services both in sheetfed offset and web offset machines.
                                    </p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>

                <div class="team_member_areaa">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h2>Our Team</h2>
                                    <p>You can relay on our amazing features list and also our customer services will be
                                        great experience for you without doubt and in no-time and with great quality.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="team-member">
                                    <div class="member-img">
                                    
                                        <img src="images/team/t1.png" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4 style="font-size: 40px;">R Rajendran</h4>
                                        <p class="designation" style="font-size: 20px;">Managing partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="team-member">
                                    <div class="member-img">
                                        
                                        <img src="images/team/t2.png" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4 style="font-size: 40px;">Sarada</h4>
                                        <p style="font-size: 20px;" class="designation">Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="team-member">
                                    <div class="member-img">
                                        
                                        <img src="images/team/t3.png" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4 style="font-size: 40px;">Narayanan</h4>
                                        <p style="font-size: 20px;" class="designation">Managing partner</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!--/ page-container end -->

            <!-- start scrollUp  -->
            
            <!--/ end scrollUp  -->
        </div>
    </body>


</html>