<body>

    <div id="wrapper">

        <!-- Start page-header -->
        <section class="page-header">
            <div class="overlay">

                <head>
                    <title>Get a Quote</title>
                    <style>
                        h1 {
                            color: #ff0000;
                            text-align: center;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: white;
                            font-weight: bold;
                            font-size: 60px;
                        }

                        .form-group {
                            margin-bottom: 20px;
                        }

                        label {
                            display: block;
                            font-weight: bold;
                            color: #fff;
                        }

                        input[type="text"],input[type="email"],input[type="number"],
                        textarea {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #ff0000;
                            background-color: #000;
                            color: #fff;
                        }

                        button[type="submit"] {
                            background-color: #ff0000;
                            color: #fff;
                            border: none;
                            padding: 10px 20px;
                            cursor: pointer;
                            font-size: 16px;
                        }

                        @media screen and (max-width:576px){
                            .container {
                                width: 100%;
                            }
                            form{
                                width: 100%;
                            }
                        }
                        @media screen and (min-width:992px){
                            form {
                                width: 60%;
                            }
                
                        }
                    </style>
                </head>


                <div class="container" style="display: flex; flex-direction: column; align-items: center;">
                    <h1>Get a Quote</h1>
                    <form action="/getaqoute" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="from" required>
                            <input type="email" id="email" name="to" value="streddiarprinters@gmail.com" hidden>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="number" id="phone" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" rows="5" required></textarea>
                        </div>
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
