<div id="wrapper">
    <section class="banner-section full-height-section" data-stellar-background-ratio="0.5">
        <div class="slide-content">
            <div class="coll-middle">
                <div class="inner">
                    <h2>Welcome to <span>S.T.Reddiar printers </span></h2>
                    <p>ST Reddiar Printers is one of the leading printing press in Ernakulam.
                        We provide complete printing solutions to our customers right from
                        designing to execution. Our services include newspaper printing, multicolor offset printing,
                        graphic designing etc. We provide quality printing products to our clients. Our clients include
                        publishers, educational institutions, Ad agencies, branding agencies etc.
                    </p>
                    <a class="signup-btn" href="/contact">Contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!--/ Slider End -->

    <!-- intro start -->
    <div class="h2-c-ifo" id="about-freelancer">
        <div class="container">
            <div class="row">

                <div class="freelancer-images col-sm-12 col-lg-6">
                    <div class="provide_images">
                        <img alt="" src="images/service_p.jpg" class="imagese">
                    </div>
                </div>
                <div class="company-info h2-c-ifo col-sm-12 col-lg-6">
                    <h6>About Our ST Reddiar printers</h6>
                    <h5 class="about-company-title">We provide Qualty service <br> <span class="heighlight-color">Since
                            1886</span> with proud!!</h5>

                    <div class="creative-text">
                        <p>Established in the year 1886, S T Reddiar Printers in Veekshanam Road, Ernakulam is a top
                            player in the category Offset
                            Printers For Wedding Card in the Ernakulam.</p>
                        <p>This well-known establishment acts as a one-stop destination servicing customers both local
                            and from
                            other parts of Ernakulam. Over the course of its journey, this business has established a
                            firm foothold in it's industry.</p>
                        <div class="author-info">
                            <figure class="image img-circle"><img alt="" src="images/author-thumb-2.jpg"
                                    class="img-circle"></figure>
                            <h4>R. Suresh</h4>
                            <div class="designation">Chief Executive</div>
                        </div>
                        <div class="signature">
                            <img alt="" src="images/signature.png">
                        </div>

                    </div>
                </div><!-- / company-info -->
            </div><!-- / row -->
        </div><!-- / row -->
    </div>
    <!--/ intro End -->
    <div class="feature10 service__area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Services</h2>
                        <p>It is known to provide top service in the following categories</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Posters</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Stickers</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Food packing box</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Medical pouch</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna ">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Catalogue</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Flyers</h4>
                    </div>
                </div>
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Brochures</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Calender</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Magazines</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Notice</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary ">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Suppliments</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Envelopes</h4>
                    </div>
                </div>
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Visiting cards</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Wedding cards</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Manuals</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Bill books</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-megna ">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Office forms</h4>
                    </div>
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-2 bg-primary">
                    <div class="wrap-feature10-box text-center">
                        <h4 class="box-title">Letterheads</h4>
                    </div>
                </div>

                <!-- column  -->
            </div>
        </div>
    </div>

    <!-- counter Start -->
    <section class="counter-section" data-stellar-background-ratio="0.5">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter">
                            <span class="lnr lnr-smile"></span>
                            <span class="count count-num"> 62 </span>
                            <h4>Happy Customers</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter">
                            <span class="lnr lnr-layers"></span>
                            <span class="count count-num"> 60 </span>
                            <h4>Projects Worked</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter">
                            <span class="lnr lnr-thumbs-up"></span>
                            <span class="count count-num"> 7 </span>
                            <h4>Our Best Clients</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter">
                            <span class="lnr lnr-briefcase"></span>
                            <span class="count-num count"> 2</span>
                            <h4>Winning Awards</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ counter end -->

    <!-- our-clients Start -->
    <section class="our-clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Clients</h2>
                    </div>
                </div>
            </div>
            <ul class="clients-list clearfix">
                <li>
                    <a href="#"><img src="images/clients/client-1.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-2.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-3.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-4.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-5.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-6.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-7.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/clients/client-8.png" alt=""></a>
                </li>
            </ul>
        </div>
    </section>
    <!--/ our-clients End -->

    <!-- start scrollUp  -->

    <!--/ end scrollUp  -->
</div>