    <!-- Start page-header -->
    <section class="page-header">
        <div class="overlay">
            <div class="container">
                <h2 class="page-title pull-left">Blog</h2>
                <ol class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        </div>
    </section>
    <!--/ end page-header -->

    <!-- Start page-container  -->
    <div class="page-container blog-page">
        <div class="container">
            <div class="row">

                <div class="container">
                    <div Class="h2-c-ifo row" id="about-freelancer">
                        <div class="freelancer-images col-sm-12 col-lg-6">
                            <div class="provide_images">
                                <img alt="" src="images/prepress_design.jpg" class="imagese">
                            </div>
                        </div>
                        <div class="company-info h2-c-ifo col-sm-12 col-lg-6">
                            <h5 class="about-company-title"> Design </h5>
                
                            <div class="creative-text">
                                <p>Established in the year 1886, S T Reddiar Printers in Veekshanam Road, Ernakulam is a top player in
                                    the
                                    category Offset
                                    Printers For Wedding Card in the Ernakulam.</p>
                                <p>This well-known establishment acts as a one-stop destination servicing customers both local and from
                                    other parts of Ernakulam. Over the course of its journey, this business has established a firm
                                    foothold in
                                    it's industry.</p>
                               
                
                            </div>
                        </div><!-- / company-info -->
                    </div><!-- / company-info -->
                </div><!-- / company-info -->


                {{!-- <div class="col-xs-12 col-sm-12 col-md-8">
                    <article class="post-entry design3">
                        <div class="featured-image">
                            <img src="images/blog/blog-1.jpg" alt="" class="post-thumbnail">
                        </div>
                        <div class="bottom-content">
                            <div class="shadow-box"></div>
                            <div class="inner">
                                <header class="entry-header">
                                    <h2 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                            functionalized content</a></h2>
                                </header>
                                <div class="entry-content">
                                    <p>Holisticly generate interactive expertise vis-a-vis 24/365 relationships.
                                        Appropriately synthesize highly efficient initiatives with user friendly
                                        technologies. Collaboratively maintain extensible methodologies and
                                        maintainable infomediaries.</p>
                                    <a href="#" class="read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post-entry design3">
                        <div class="featured-image">
                            <img src="images/blog/blog-2.jpg" alt="" class="post-thumbnail">
                        </div>
                        <div class="bottom-content">
                            <div class="shadow-box"></div>
                            <div class="inner">
                                <header class="entry-header">
                                    <h2 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                            functionalized content</a></h2>
                                </header>
                                <div class="entry-content">
                                    <p>Holisticly generate interactive expertise vis-a-vis 24/365 relationships.
                                        Appropriately synthesize highly efficient initiatives with user friendly
                                        technologies. Collaboratively maintain extensible methodologies and
                                        maintainable infomediaries.</p>
                                    <a href="#" class="read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post-entry design3">
                        <div class="featured-image">
                            <img src="images/blog/blog-4.jpg" alt="" class="post-thumbnail">
                        </div>
                        <div class="bottom-content">
                            <div class="shadow-box"></div>
                            <div class="inner">
                                <header class="entry-header">
                                    <h2 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                            functionalized content</a></h2>
                                </header>
                                <div class="entry-content">
                                    <p>Holisticly generate interactive expertise vis-a-vis 24/365 relationships.
                                        Appropriately synthesize highly efficient initiatives with user friendly
                                        technologies. Collaboratively maintain extensible methodologies and
                                        maintainable infomediaries.</p>
                                    <a href="#" class="read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post-entry design3">
                        <div class="featured-image">
                            <img src="images/blog/blog-5.jpg" alt="" class="post-thumbnail">
                        </div>
                        <div class="bottom-content">
                            <div class="shadow-box"></div>
                            <div class="inner">
                                <header class="entry-header">
                                    <h2 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                            functionalized content</a></h2>
                                </header>
                                <div class="entry-content">
                                    <p>Holisticly generate interactive expertise vis-a-vis 24/365 relationships.
                                        Appropriately synthesize highly efficient initiatives with user friendly
                                        technologies. Collaboratively maintain extensible methodologies and
                                        maintainable infomediaries.</p>
                                    <a href="#" class="read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </div> --}}
                {{!-- <div class="col-xs-12 col-sm-12 col-md-4">
                    <aside class="right-sidebar">
                        <div class="sidebar-widget widget widget_search">
                            <form role="search" method="get" class="search-form" action="#">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search …" value=""
                                        name="s" title="Search for:">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                        <div class="sidebar-widget widget recent_posts">
                            <h2 class="widget-title">Recent Posts</h2>
                            <article class="post-entry design1">
                                <div class="featured-image">
                                    <img src="images/blog/blog-5.jpg" alt="" class="post-thumbnail">
                                </div>
                                <div class="right-col">
                                    <header class="entry-header">
                                        <h4 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                                functionalized content</a></h4>
                                    </header>
                                </div>
                            </article>
                            <article class="post-entry design1">
                                <div class="featured-image">
                                    <img src="images/blog/blog-4.jpg" alt="" class="post-thumbnail">
                                </div>
                                <div class="right-col">
                                    <header class="entry-header">
                                        <h4 class="entry-title">
                                            <a href="#" rel="bookmark">Dramatically foster functionalized
                                                content</a>
                                        </h4>
                                    </header>
                                </div>
                            </article>
                            <article class="post-entry design1">
                                <div class="featured-image">
                                    <img src="images/blog/blog-3.jpg" alt="" class="post-thumbnail">
                                </div>
                                <div class="right-col">
                                    <header class="entry-header">
                                        <h4 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                                functionalized content</a></h4>
                                    </header>
                                </div>
                            </article>
                            <article class="post-entry design1">
                                <div class="featured-image"><img src="images/blog/blog-2.jpg" alt=""
                                        class="post-thumbnail"></div>
                                <div class="right-col">
                                    <header class="entry-header">
                                        <h4 class="entry-title"><a href="#" rel="bookmark">Dramatically foster
                                                functionalized content</a></h4>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="sidebar-widget widget widget_categories">
                            <h2 class="widget-title">Category</h2>
                            <ul>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">World</a></li>
                                <li><a href="#">Science</a></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-widget widget widget_tag_cloud">
                            <h2 class="widget-title">Tags</h2>
                            <div class="tagcloud clearfix">
                                <a href="#">Business</a>
                                <a href="#">Technology</a>
                                <a href="#">Sports</a>
                                <a href="#">Science</a>
                                <a href="#">Politics</a>
                                <a href="#">Culture</a>
                                <a href="#">Arts</a>
                                <a href="#">Photography</a>
                                <a href="#">Nature</a>
                                <a href="#">Entertainment</a>
                            </div>
                        </div>
                        <div class="sidebar-widget widget widget_archive">
                            <h2 class="widget-title">Archives</h2>
                            <ul>
                                <li><a href="#">March 2016</a></li>
                                <li><a href="#">January 2016</a></li>
                                <li><a href="#">December 2015</a></li>
                                <li><a href="#">November 2015</a></li>
                                <li><a href="#">October 2015</a></li>
                                <li><a href="#">September 2015</a></li>
                                <li><a href="#">July 2015</a></li>
                                <li><a href="#">March 2015</a></li>
                                <li><a href="#">February 2015</a></li>
                            </ul>
                        </div>
                    </aside>
                </div> --}}
            </div>
        </div>
    </div>
    <!--/ end page-container  -->
