<!-- Start page-header -->
<section class="page-header" style="background-image: url(images/bg_prepress.jpg)">
    <div class="overlay">
        <div class="container">
            <h2 class="page-title pull-left">Press</h2>
            <ol class="breadcrumb pull-right">
                <li><a href="index.html">Infrastructure</a></li>
                <li class="active">Press</li>
            </ol>
        </div>
    </div>
</section>
<!--/ end page-header -->

<!-- Start page-container  -->
<div class="page-container blog-page">

    <div class="container1">
        <div class="row">
            <div Class="h2-c-ifo row" id="about-freelancer">
                <div class="freelancer-images col-sm-12 col-lg-6">
                    <div class="provide_image1">
                        <img alt="" src="images/pdc-1426-img.png" style="margin-left: -50px; margin-top: -50px;" class="imagese">
                    </div>
                </div>
                <div class="company-info1 h2-c-ifo col-sm-12 col-lg-6">
                    <h5 class="about-company-title"> Web offset </h5>
    
                    <div class="creative-text">
                        <h2>Naph graphics, 20 & 16 pages newspaper printing </h2>
                        <h3>single column double dummy machine</h3>
                        <p>Naph Graphics specializes in newspaper printing, offering services for 20 and 16-page newspapers. With expertise in the
                        field, they deliver high-quality and efficient printing solutions for newspapers, ensuring crisp text and vibrant
                        images. Their services cater to the specific requirements of newspaper production, meeting clients' needs with
                        professionalism and precision.</p>
                    </div>
                </div><!-- / company-info -->
            </div>
        </div>
    </div>


{{#each press}}
<div class="container1">
    <div class="row">
        <div Class="h2-c-ifo row" id="about-freelancer">
            <div class="freelancer-images col-sm-12 col-lg-6">
                <div class="provide_image1">
                    <img alt="" src="images/press/{{this.img.[0]}}" class="imagese">
                </div>
            </div>
            <div class="company-info1 h2-c-ifo col-sm-12 col-lg-6">
                <h5 class="about-company-title"> {{this.heading}} </h5>

                <div class="creative-text">
                    <h2>{{this.subheading}}</h2>
                    <p>{{this.description}}</p>
                </div>
            </div><!-- / company-info -->
        </div>
    </div>
</div>
{{/each}}

</div>
<!--/ end page-container  -->