<body>
    <div id="wrapper">
        <!-- Start page-header -->
        <section class="page-header">
            <div class="overlay">
                <div class="container">
                    <h2 class="page-title pull-left">Services</h2>
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--/ end page-header -->

        <!-- Start page-container  -->
        <section class="page-container services-page">
            <div class="feature10 service__area services-page_area ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Our Services</h2>
                                <p>It is known to provide top service in the following categories</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- column  -->
                        <div class="col-lg-4 bg-megna">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr lnr-user"></i></div>
                               
                                <h4 class="box-title">New Lead Generation</h4>
                            
                            </div>
                        </div>
                        <!-- column  -->
                        <!-- column  -->
                        <div class="col-lg-4 bg-primary">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr lnr-laptop-phone"></i></div>
                              
                                <h4 class="box-title">Constructive Planning</h4>
                            
                            </div>
                        </div>
                        <!-- column  -->
                        <!-- column  -->
                        <div class="col-lg-4 bg-megna">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr lnr-pie-chart"></i></div>
                           
                                <h4 class="box-title">Powerful Services</h4>
                          
                            </div>
                        </div>
                        <!-- column  -->
                        <!-- column  -->
                        <div class="col-lg-4 bg-primary">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr lnr-home"></i></div>
                               
                                <h4 class="box-title">New Lead Generation</h4>
                              
                            </div>
                        </div>
                        <!-- column  -->
                        <!-- column  -->
                        <div class="col-lg-4 bg-megna ">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr  lnr-printer"></i></div>
                            
                                <h4 class="box-title">Constructive Planning</h4>
                             
                            </div>
                        </div>
                        <!-- column  -->
                        <!-- column  -->
                        <div class="col-lg-4 bg-primary">
                            <div class="wrap-feature10-box text-center">
                                <div class="display-4 m-b-20"><i class="lnr  lnr-rocket"></i></div>
                              
                                <h4 class="box-title">Powerful Services</h4>
                               
                            </div>
                        </div>
                        <!-- column  -->
                    </div>
                </div>
            </div>
            <div class="testimonial-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Clients Say's</h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="testimonial"><span class="testimonial-img"><img
                                        src="images/testimonial/testimonial-1.jpg" alt=""></span>
                                <div class="content">
                                    <p>Uniquely matrix backward-compatible action items with premier testing procedures.
                                        Authoritatively expedite fully tested technologies for ubiquitous experiences.
                                        Authoritatively productize B2C benefits.</p>
                                    <h4 class="testimonial-by">Kevin Petersen - <span class="designation">CEO &amp;
                                            Founder</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="testimonial"><span class="testimonial-img"><img
                                        src="images/testimonial/testimonial-2.jpg" alt=""></span>
                                <div class="content">
                                    <p>Uniquely matrix backward-compatible action items with premier testing procedures.
                                        Authoritatively expedite fully tested technologies for ubiquitous experiences.
                                        Authoritatively productize B2C benefits.</p>
                                    <h4 class="testimonial-by">John Williams - <span class="designation">Creative
                                            Head</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ end page-container  -->
        <!-- start scrollUp  -->
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
        <!--/ end scrollUp  -->
    </div>
</body>